@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=latin-ext');
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
    color: rgb(11, 17, 41);
}

.portfolio {
    max-width: 1024px;
    margin: 16px auto;
}

.portfolio__header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    background-color: #fff;
}

.portfolio__nav {
    width: auto;
    font-family: 'Monoton', cursive;
}

.portfolio__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.list__item {
    margin: 16px;
    list-style: none;
}

.list__item-link {
    text-decoration: none;
}

.nav::before {
    content: " ";
    margin-right: 20px;
    border: 2px solid gold;
    text-shadow: 2px 2px 4px #000;
}

.portfolio__welcome {
    height: 100vh;
}

.welcome__title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 0.3rem;
    animation-name: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: 'Monoton', cursive;
}

@keyframes title {
    0% {
        left: -50%
    }
    100% {
        left: 50
    }
}

.welcome__title--gold {
    color: #ffd700;
}

.welcome__title--pink {
    color: #CC45A1;
}

.welcome__title--sky {
    color: #8AFCFF;
}

.about-me__title {
    position: relative;
    top: 48px;
    margin: 32px auto;
    padding: 20px;
}

.portfolio__photo {
    width: 200px;
    display: block;
    margin: 48px auto;
    border: 5px solid #CC45A1;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-me__description {
    line-height: 2.5rem;
    text-align: justify;
    margin: 16px;
}

.title {
    font-family: 'Monoton', cursive;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #ffd700;
    text-shadow: 2px 2px 4px #000;
    font-size: 36px;
}

.skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.skills {
    list-style: linear-gradient(#ffd700, #CC45A1);
    margin: 8px;
}

.projects__all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 16px;
}

.project__card {
    width: 100%;
    height: 500px;
    background: #ffd700;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolio__contact {
    text-align: center;
    margin: 16px;
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__icon {
    width: 40px;
    cursor: pointer;
}

.portfolio__footer {
    max-width: 100%;
    height: 70px;
    background-color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form {
    border: 5px solid #ffd700;
    background: #ffd700;
    margin-bottom: 36px;
    font-family: 'Playfair Display', serif;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 36px auto;
}

.contact__label {
    display: flex;
    margin: 16px;
    text-align: left;
}

.contact__input {
    line-height: 36px;
    width: 500px;
    margin: auto;
    font-family: 'Playfair Display', serif;
    padding: 8px;
    border: none;
    border-bottom: 3px solid #ddd;
}

.contact__button {
    width: 100px;
    border: 2px solid #CC45A1;
    background: #CC45A1;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: block;
    margin: 8px auto;
    padding: 10px;
}

.portfolio__footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer__info {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.portfolio__modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.modal__content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal__msg {
    text-align: center;
}

.modal__close {
    display: block;
    margin: 0 auto;
    background-color: #CC45A1;
    color: #fff;
    width: 100px;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 22px;
    }
    .portfolio__list {
        display: block;
    }
    .list__item {
        margin: 8px;
    }
    .welcome__title {
        font-size: 48px;
    }
    .about-me__description {
        line-height: 2rem;
    }
    .title {
        font-size: 36px;
    }
    .projects__all-projects {
        grid-template-columns: 1fr 1fr;
    }
    .modal__content {
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 18px;
    }
    .welcome__title {
        font-size: 1.5rem;
    }
    .about-me__description {
        line-height: 1.5rem;
    }
    .skills__list {
        font-size: 18px;
    }
    .modal__content {
        max-width: 320px;
    }
    .projects__all-projects {
        grid-template-columns: 1fr;
    }
    .footer__info {
        margin: 8px;
    }
}